<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new add data</title>
</head>
<body>
    <h1>add data</h1>
    <form method="post" action="/post">
        <input type="text" name="username" id="" placeholder="username"><br /><br/>
        <textarea name="content" id="" cols="30" rows="10" placeholder="content"></textarea>
        <button>submited</button><br>
    </form>
</body>
</html>